*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(25,91,133,1) 40%, rgba(23,67,119,1) 50%, rgba(21,44,105,1) 70%, rgba(18,12,86,1) 92%);
}

/*criando sombras para dar a ilusão de mais estrelas*/
.stars{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,
    420px 100px white,
    520px 100px white,
    500px 80px white,
    580px 120px white,
    400px 130px white,
    600px 20px white,
    700px 20px white,
    800px 30px white,
    820px 50px white,
    600px 60px white,
    700px 100px white,
    800px 85px white,
    820px 200px white,
    880px 60px white,
    900px 100px white,
    1000px 85px white,
    1120px 200px white,
    880px 88px white,
    900px 130px white,
    1000px 100px white,
    1120px 180px white,
    1200px 100px white,
    1222px 20px white,
    1095px 50px white,
    1400px 88px white,
    1450px 130px white,
    1350px 100px white,
    1300px 180px white,
    1500px 88px white,
    1530px 130px white,
    1580px 100px white,
    1600px 180px white,
    1615px 20px white,
    1650px 44px white,
    1700px 100px white,
    1750px 200px white,
    1800px 20px white,
    1820px 44px white,
    500px 105px white,

    /*preenchendo da altura*/
    120px 100px white,
    80px 350px white,
    300px 500px white,
    255px 455px white,
    203px 388px white,
    100px 800px white,
    80px 450px white,
    300px 280px white,
    250px 444px white,
    200px 333px white,
    150px 666px white,
    320px 547px white,
    420px 450px white,
    520px 288px white,
    500px 802px white,
    580px 498px white,
    400px 330px white,
    195px 418px white,
    502px 615px white,
    528px 599px white,
    588px 580px white,
    600px 333px white,
    430px 395px white,
    610px 700px white,
    701px 620px white,
    800px 380px white,
    823px 502px white,
    615px 603px white,
    766px 777px white,
    788px 666px white,
    825px 369px white,
    885px 602px white,
    910px 236px white,
    1100px 647px white,
    1250px 230px white,
    1315px 215px white,
    1090px 300px white,
    1550px 885px white,
    1535px 315px white,
    1590px 415px white,
    1650px 380px white,
    1625px 225px white,
    1844px 222px white,
    1200px 280px white,
    1222px 330px white,
    1095px 5020px white,
    1400px 935px white,
    1450px 830px white,
    1350px 600px white,
    1350px 330px white,
    1315px 220px white,
    1720px 450px white,
    1553px 885px white,
    1333px 410px white,
    1222px 415px white,
    1687px 593px white,
    1525px 522px white,
    1488px 333px white,
    1002px 820px white,
    1741px 660px white,
    1050px 526px white,
    1437px 910px white,
    1452px 835px white,
    1553px 613px white,
    1300px 780px white,
    1500px 880px white,
    1530px 810px white,
    1580px 1000px white,
    1600px 180px white,
    1615px 205px white,
    1800px 250px white,
    1820px 440px white,
    1805px 255px white,
    1825px 453px white,
    1835px 511px white,
    1820px 500px white,
    102px 800px white,
    130px 610px white,
    305px 799px white,
    250px 874px white,
    258px 562px white,
    152px 777px white,
    328px 900px white,
    425px 885px white,
    529px 710px white,
    587px 802px white,
    581px 604px white,
    1820px 800px white,
    1805px 755px white,
    1825px 900px white,
    1835px 811px white,
    1820px 600px white;

    animation: anim-stars 20s linear infinite;
}

.stars::after{
    content: " ";
    position: absolute;
    top: 100vh;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,
    420px 100px white,
    520px 100px white,
    500px 80px white,
    580px 120px white,
    400px 130px white,
    600px 20px white,
    700px 20px white,
    800px 30px white,
    820px 50px white,
    600px 60px white,
    700px 100px white,
    800px 85px white,
    820px 200px white,
    880px 60px white,
    900px 100px white,
    1000px 85px white,
    1120px 200px white,
    880px 88px white,
    900px 130px white,
    1000px 100px white,
    1120px 180px white,
    1200px 100px white,
    1222px 20px white,
    1095px 50px white,
    1400px 88px white,
    1450px 130px white,
    1350px 100px white,
    1300px 180px white,
    1500px 88px white,
    1530px 130px white,
    1580px 100px white,
    1600px 180px white,
    1615px 20px white,
    1650px 44px white,
    1700px 100px white,
    1750px 200px white,
    1800px 20px white,
    1820px 44px white,
    500px 105px white,

    /*preenchendo da altura*/
    120px 100px white,
    80px 350px white,
    300px 500px white,
    255px 455px white,
    203px 388px white,
    100px 800px white,
    80px 450px white,
    300px 280px white,
    250px 444px white,
    200px 333px white,
    150px 666px white,
    320px 547px white,
    420px 450px white,
    520px 288px white,
    500px 802px white,
    580px 498px white,
    400px 330px white,
    195px 418px white,
    502px 615px white,
    528px 599px white,
    588px 580px white,
    600px 333px white,
    430px 395px white,
    610px 700px white,
    701px 620px white,
    800px 380px white,
    823px 502px white,
    615px 603px white,
    766px 777px white,
    788px 666px white,
    825px 369px white,
    885px 602px white,
    910px 236px white,
    1100px 647px white,
    1250px 230px white,
    1315px 215px white,
    1090px 300px white,
    1550px 885px white,
    1535px 315px white,
    1590px 415px white,
    1650px 380px white,
    1625px 225px white,
    1844px 222px white,
    1200px 280px white,
    1222px 330px white,
    1095px 5020px white,
    1400px 935px white,
    1450px 830px white,
    1350px 600px white,
    1350px 330px white,
    1315px 220px white,
    1720px 450px white,
    1553px 885px white,
    1333px 410px white,
    1222px 415px white,
    1687px 593px white,
    1525px 522px white,
    1488px 333px white,
    1002px 820px white,
    1741px 660px white,
    1050px 526px white,
    1437px 910px white,
    1452px 835px white,
    1553px 613px white,
    1300px 780px white,
    1500px 880px white,
    1530px 810px white,
    1580px 1000px white,
    1600px 180px white,
    1615px 205px white,
    1800px 250px white,
    1820px 440px white,
    1805px 255px white,
    1825px 453px white,
    1835px 511px white,
    1820px 500px white,
    102px 800px white,
    130px 610px white,
    305px 799px white,
    250px 874px white,
    258px 562px white,
    152px 777px white,
    328px 900px white,
    425px 885px white,
    529px 710px white,
    587px 802px white,
    581px 604px white,
    1820px 800px white,
    1805px 755px white,
    1825px 900px white,
    1835px 811px white,
    1820px 600px white;
}

.stars2{
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white,

      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white,
      420px 100px white,
      520px 100px white,
      500px 80px white,
      580px 120px white,
      400px 130px white,
      600px 20px white,
      700px 20px white,
      800px 30px white,
      820px 50px white,
      600px 60px white,
      700px 100px white,
      800px 85px white,
      820px 200px white,
      880px 60px white,
      900px 100px white,
      1000px 85px white,
      1120px 200px white,
      880px 88px white,
      900px 130px white,
      1000px 100px white,
      1120px 180px white,
      1200px 100px white,
      1222px 20px white,
      1095px 50px white,
      1400px 88px white,
      1450px 130px white,
      1350px 100px white,
      1300px 180px white,
      1500px 88px white,
      1530px 130px white,
      1580px 100px white,
      1600px 180px white,
      1615px 20px white,
      1650px 44px white,
      1700px 100px white,
      1750px 200px white,
      1800px 20px white,
      1820px 44px white,
      500px 105px white,
  
      /*preenchendo da altura*/
      120px 100px white,
      80px 350px white,
      300px 500px white,
      255px 455px white,
      203px 388px white,
      100px 800px white,
      80px 450px white,
      300px 280px white,
      250px 444px white,
      200px 333px white,
      150px 666px white,
      320px 547px white,
      420px 450px white,
      520px 288px white,
      500px 802px white,
      580px 498px white,
      400px 330px white,
      195px 418px white,
      502px 615px white,
      528px 599px white,
      588px 580px white,
      600px 333px white,
      430px 395px white,
      610px 700px white,
      701px 620px white,
      800px 380px white,
      823px 502px white,
      615px 603px white,
      766px 777px white,
      788px 666px white,
      825px 369px white,
      885px 602px white,
      910px 236px white,
      1100px 647px white,
      1250px 230px white,
      1315px 215px white,
      1090px 300px white,
      1550px 885px white,
      1535px 315px white,
      1590px 415px white,
      1650px 380px white,
      1625px 225px white,
      1844px 222px white,
      1200px 280px white,
      1222px 330px white,
      1095px 5020px white,
      1400px 935px white,
      1450px 830px white,
      1350px 600px white,
      1350px 330px white,
      1315px 220px white,
      1720px 450px white,
      1553px 885px white,
      1333px 410px white,
      1222px 415px white,
      1687px 593px white,
      1525px 522px white,
      1488px 333px white,
      1002px 820px white,
      1741px 660px white,
      1050px 526px white,
      1437px 910px white,
      1452px 835px white,
      1553px 613px white,
      1300px 780px white,
      1500px 880px white,
      1530px 810px white,
      1580px 1000px white,
      1600px 180px white,
      1615px 205px white,
      1800px 250px white,
      1820px 440px white,
      1805px 255px white,
      1825px 453px white,
      1835px 511px white,
      1820px 500px white,
      102px 800px white,
      130px 610px white,
      305px 799px white,
      250px 874px white,
      258px 562px white,
      152px 777px white,
      328px 900px white,
      425px 885px white,
      529px 710px white,
      587px 802px white,
      581px 604px white,
      1820px 800px white,
      1805px 755px white,
      1825px 900px white,
      1835px 811px white,
      1820px 600px white;
    animation: anim-stars 25s linear infinite;
  }
  
.stars2::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    220px 115px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,
    420px 100px white,
    520px 100px white,
    500px 80px white,
    580px 120px white,
    400px 130px white,
    600px 20px white,
    700px 20px white,
    800px 30px white,
    820px 50px white,
    600px 60px white,
    700px 100px white,
    800px 85px white,
    820px 200px white,
    880px 60px white,
    900px 100px white,
    1000px 85px white,
    1120px 200px white,
    880px 88px white,
    900px 130px white,
    1000px 100px white,
    1120px 180px white,
    1200px 100px white,
    1222px 20px white,
    1095px 50px white,
    1400px 88px white,
    1450px 130px white,
    1350px 100px white,
    1300px 180px white,
    1500px 88px white,
    1530px 130px white,
    1580px 100px white,
    1600px 180px white,
    1615px 20px white,
    1650px 44px white,
    1700px 100px white,
    1750px 200px white,
    1800px 20px white,
    1820px 44px white,
    500px 105px white,

    /*preenchendo da altura*/
    120px 100px white,
    80px 350px white,
    300px 500px white,
    255px 455px white,
    203px 388px white,
    100px 800px white,
    80px 450px white,
    300px 280px white,
    250px 444px white,
    200px 333px white,
    150px 666px white,
    320px 547px white,
    420px 450px white,
    520px 288px white,
    500px 802px white,
    580px 498px white,
    400px 330px white,
    195px 418px white,
    502px 615px white,
    528px 599px white,
    588px 580px white,
    600px 333px white,
    430px 395px white,
    610px 700px white,
    701px 620px white,
    800px 380px white,
    823px 502px white,
    615px 603px white,
    766px 777px white,
    788px 666px white,
    825px 369px white,
    885px 602px white,
    910px 236px white,
    1100px 647px white,
    1250px 230px white,
    1315px 215px white,
    1090px 300px white,
    1550px 885px white,
    1535px 315px white,
    1590px 415px white,
    1650px 380px white,
    1625px 225px white,
    1844px 222px white,
    1200px 280px white,
    1222px 330px white,
    1095px 5020px white,
    1400px 935px white,
    1450px 830px white,
    1350px 600px white,
    1350px 330px white,
    1315px 220px white,
    1720px 450px white,
    1553px 885px white,
    1333px 410px white,
    1222px 415px white,
    1687px 593px white,
    1525px 522px white,
    1488px 333px white,
    1002px 820px white,
    1741px 660px white,
    1050px 526px white,
    1437px 910px white,
    1452px 835px white,
    1553px 613px white,
    1300px 780px white,
    1500px 880px white,
    1530px 810px white,
    1580px 1000px white,
    1600px 180px white,
    1615px 205px white,
    1800px 250px white,
    1820px 440px white,
    1805px 255px white,
    1825px 453px white,
    1835px 511px white,
    1820px 500px white,
    102px 800px white,
    130px 610px white,
    305px 799px white,
    250px 874px white,
    258px 562px white,
    152px 777px white,
    328px 900px white,
    425px 885px white,
    529px 710px white,
    587px 802px white,
    581px 604px white,
    1820px 800px white,
    1805px 755px white,
    1825px 900px white,
    1835px 811px white,
    1820px 600px white;
}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-100vh);
    }
}